
<%- include("includes/head.ejs") %>
    <title>error.ejs</title>
    <body>
        <div class="div">
            <h2> "Oops!"- Account Not Found ??? </h2> 
        </div>
        <%- include("includes/footer.ejs") %>
    </body>
</html>

