
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home.ejs</title>
</head>
    <body>
        <h1>This is home page 1+2 </h1>
        <h3> <%= ["Hello","Namaste", "Bonjour"][2] %> </h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore a possimus omnis iste, illum placeat nisi iure, autem officiis aperiam maxime in id impedit praesentium dolorem veritatis pariatur quia ea.
            Sint sequi molestiae cumque omnis mollitia reprehenderit, quas, quasi quos accusantium, deleniti ipsam labore fugit facere aut quidem reiciendis atque consectetur quibusdam qui voluptatum distinctio nulla! Ipsam exercitationem autem numquam!
        </p>
        <button>Click Me!</button>
    </body>
</html>