
<%- include("includes/head.ejs") %>
    <title>rolldice.ejs</title>
    <body>
        <h1> Dice gave value : <%= diceVal %> </h1>
        <% if(diceVal == 6) { %>
            <h1> Nice! Roll Dice Again. </h1>
        <% } %>

        <%- include("includes/footer.ejs") %>
    </body>
</html>


    
